.square {
  color: white;
  aspect-ratio: 1/1;
  padding: 10%;
  display: flex;
  justify-content: center;
}

.bg-White {
  background: rgb(189,189,189);
  background: linear-gradient(45deg, rgba(189,189,189,1) 0%, rgba(255,255,255,1) 100%);
}

.bg-Black {
  background: rgb(41,41,41);
  background: linear-gradient(45deg, rgba(41,41,41,1) 0%, rgba(89,89,89,1) 100%);
}

.valid-move {
  margin: auto;
  aspect-ratio: 1/1;
  border-radius: 100%;
  width: 50%;
  background: rgb(92, 92, 92);
  border: solid .15rem black;
}