.container p {
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0.5em auto;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

.left-Black,
.left-White,
.right-Black,
.right-White {
  margin: 0;
  width: 4em;
  text-align: center;
  line-height: 50px;
  position: relative;
  width: 100%;
}

.left-Black,
.right-Black {
  color: white;
  background-color: black;
}

.left-White,
.right-White {
  color: black;
  background-color: white;
}

.right-Black::before,
.right-White::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
}

.right-Black::before,
.right-White::before {
  right: 100%;
  border-left: 25px solid transparent;
}

.right-Black::before {
  border-bottom: 50px solid black;
}

.right-White::before {
  border-bottom: 50px solid white;
}

@media screen and (min-width: 800px) {
    .container {
        border: 2px solid black
    }
}