:root {
  --primary-color: #ff3300;
  --background-color: rgb(44, 44, 44);
}

body {
  height: 100%;
  background-color: var(--background-color);
  color: white;
}

html {
  font-size: 100%;
  overflow-y: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}