.container {
  height: 100vh;
}

.container .button {
  display: flex;
}

.container button {
  border-color: transparent;
}

.button {
  color: white;
  margin: auto;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 1.25rem;
}

.back,
.exit {
  background-color: transparent;
  margin: 1rem;
  position: absolute;
}

.exit {
  top: 0px;
  right: 0px;
}

@media screen and (max-width: 600px) {
  .back,
  .exit {
    padding: 0;
    width: fit-content;
  }

  .exit {
    margin: .25rem 0;
  }

  .back img {
    width: 2rem;
  }

  .exit img {
    width: 1.5rem;
  }
}
