.container {
  height: 100vh;
}

.container .button {
  display: flex;
}

.container button {
  border-color: transparent;
}

.button {
  color: white;
  margin: auto;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 1.25rem;
}

.back,
.exit {
  background-color: transparent;
  margin: 1rem;
  position: absolute;
}

.exit {
  top: 0px;
  right: 0px;
}
