.container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container h2 {
  padding: 10px;
  margin: 0;
  text-align: center;
  color: black;
}

.opponent-Text {
  background: linear-gradient(90deg, rgb(97, 97, 97) 0%, rgb(255, 255, 255) 50%, rgba(0,0,0,1) 100%);
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loading 2s linear infinite alternate;
}

@keyframes loading {
  0% {
    background-position: 0% 50%;    
  }

  100% {
    background-position: 100% 50%;
  }
}
