.container {
  display: flex;
  justify-content: center;
}

.board {
  aspect-ratio: 1/1;
  height: 80vmin;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.board-reversed {
  transform: rotate(180deg);
}

@media screen and (max-width: 800px) {
  .board {
      width: 100%;
  }
}

